.parallax-wrap {
  width: 100vw;
  height: 100vh;
 overflow: hidden;
  /* Prevents scrollbars from appearing due to movement */
  position:absolute;


}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.1s linear;
   overflow: hidden;
  /* Smooths the movement */
  z-index: 0;
}

.background {
  /* Add background image/styles */
  width: 102%;
  height: 103%;
  background: url('../images/staralexis.png') center;
  opacity: .9;
  background-size: cover;
  background-repeat: repeat;
   overflow: hidden;
}

.foreground {
 
  background: url('../images/star\ background.gif') center;
  background-size: auto;
  background-repeat: repeat;
   overflow: hidden;
 
}