.home-background{
    background: url('../images/star\ background.gif') center;
    background-size: auto;
     overflow: hidden;
}

.main-container {
    width: 95%;
    height: 100vh;
    /* background-color: #0E1722; */
    color: white;
    display: flex;
    margin: auto;
    overflow: hidden;
}

.music-bot{
    width: 400px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 2;
    background-color: aliceblue;
}

@media screen and (max-width:1024px) {

    .main-container {
        width: 100%;
        /* background-color: #0E1722; */
        color: white;
        display: inline-block;


    }



}