.landing-container {
    width: 400px;
    position: relative;
    z-index: 0;
    font-size: 22px;
    margin-right: 0;
    padding-top: 30px;

}

.introduction {
    width: 95%;
    font-size: 18px;
    text-align: left;
    margin: auto;
   line-height: 28px;
}

h1 {
    font-size: 2.3em;
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 50px;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
}

.socials {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    margin: 0;
}

.socials img {
    width: 70%;
}


.updates-container {
    width: 100%;
    height: 500px;
    margin-top: 30px;
}

.updates-container h3 {
    font-size: 22px;
}

.update-list-container {
    width: 100%;
    height: 90%;
    border: 1px solid white;
    overflow-y: scroll;
    scroll-behavior: smooth;
   padding-bottom: 40px;
}

.update-list h3 {
    font-size: 30px;
    font-weight: 300;
}

.update-tab {
    width: 375px;
    height: 150px;
    border: 1px solid rgb(129, 144, 150);
    margin: auto;
    margin-top: 30px;
}


@media screen and (max-width:1024px) {

    .landing-container {
        width: 80%;
        margin: auto;
        background-color: blueviolet;
        position: static;

    }

}