.musicBar {
    width: 80%;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    right: 0px;

}

.rhap_container {
    width: 20%;
    height: inherit;
    padding: 0px;
    background-color:  rgb(53, 109, 106);

}

.rhap_container svg{
    height: 90%;
    

}
.rhap_main-controls-button{
    width: 100%;
    height: 90px;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.rhap_main-controls{
    width: 100%;
    height: 90px;
}

.rhap_stacked .rhap_controls-section {
    margin-top: 0px;
}

.rhap_additional-controls {
    display: none;
}


.rhap_volume-container {
   display: none;
}

.iconify  {
    width: 100%;
    color:  rgb(23, 68, 66);
    transition: color .2s linear;
    
}

.iconify:hover{
    color: white;
}

.logoHome {
    width: 60px;
    height: 65px;
    margin-right: 20px;
}

.album-art {
    width: auto;
    height: inherit;
}

.song-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    margin-left: 15px;
}

.song-information p {
    margin: 0px;
    padding: 0px;
    color: white;
    
}
.song-name{
    font-size: 20px;
    font-weight: 500;
}

.song-artist{
    font-weight: 400;
      font-size: 14px;
}
.song-album{
    font-weight: 400;
  
}


.rhap_progress-section {
    display: none;
}